################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cloud Hop/Assets/Scripts/VanishingPlatform.cs
